/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

main {
    margin: 0 auto;
    padding: 1cm 1cm calc(3cm + 1em) 1cm;
}

h1 {
    font-size: 5em;
    margin-bottom: 0.5cm;
}

h2 {
    font-size: 3em;
    margin-bottom: 0.25cm;
}

h3 {
    font-size: 2em;
    margin-bottom: 0.5cm;
}

p {
    margin-bottom: 0.5cm;
}

ul {
    margin-bottom: 0.5cm;
    margin-left: 1.5cm;
    list-style-type: square;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    bottom: 0;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    padding-top: 1cm;
    padding-bottom: 0.5cm;
}
